/* * {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
} */

/* .Main-Container {
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
} */

/* .Content-Container {
  width: 90%;
  max-width: 1200px;
  margin-top: 30px;
  background-color: #fdfdfd;
  padding: 5%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.File-Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.File-Container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.Upload-File-Container,
.Verify-File-Container {
  flex: 1 1 40%;
  min-width: 300px;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  /* text-align: center; */
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.Upload-File-Container input[type="file"] {
  margin-top: 15px;
  font-size: 15px;
}

/* .Upload-File-Container button {
  margin-top: 20px;
  padding: 1% 3%;
  // 8px 16px; 
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.Upload-File-Container button:hover {
  background-color: #45a049;
}*/

.Verification-Box {
  margin-top: 15px;
  padding: 10px;
  background-color: #e3f2fd;
  border-radius: 8px;
  font-weight: bold;
  min-height: 40px;
}
